{% extends "base.html" %}

{% block title %}Flasky - Index{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Home</h1>
</div>
<div>
  <h3>
    Hello,
    {% if current_user.is_authenticated %}
    {{ current_user.username }}
    {% else %}
    Stranger
    {% endif %}!
  </h3>
  <p>Welcome!, this is the Flasky-Starter</p>

  <p>
    The local date and time is {{ moment(current_time).format('LLL') }}.
    <br>
    That was {{ moment(current_time).fromNow(refresh=True) }}
  </p>
</div>
{% endblock %}